.glide {    
    &__slides,
    &__track {
        height: 100%;
    }
    
    &__slide {
        
        &--active {
            
            .o-logo {
                transition: all 600ms ease-out;
                transition-delay: 300ms;
                opacity: 1 !important;
                transform: translate3d(0, 0, 0) !important;
            }
            
            .c-homecarousel {
            	&__text {
	                .first,
	                .second,
	                .third,
	                .o-logo {
	                    transition: all 600ms ease-out;
	                }
           
	                .second {
	                    transition-delay: 400ms;
	                }
	                
	                .third {
	                    transition-delay: 600ms;
	                }
	            
	                .first,
	                .second, .third, .o-logo {
	                    opacity: 1 !important;
	                    transform: translate3d(0, 0, 0) !important;
	                }
	            }
            }
        }
    }
	
	&__bullet {
		width: 4px; height: 4px;
		background-color: rgba(white, .4);
		margin: 0 6px;
		padding: 0;
		cursor: pointer;
		
		@media ( max-width: $smartphone + px ) {
			margin: 0 4px;
		}
		
		&--active {
			background-color: $c-primary;
		}
	}
	
	&__bullets {
		white-space: nowrap;
		
		&--black {
			.glide {
				&__bullet {
					background-color: rgba(black, .5);
			
					&--active {
						background-color: $c-primary;
					}
				}
			}
		}
	}
}
