
								<div class="o-cols o-cols--3">
									<a href="#" class="o-cols__item">
										<figure>
											<div class="photo">
												<img srcset="./img/photos/blog/thumbnail.jpg 1x,
												             ./img/photos/blog/thumbnail@2x.jpg 2x"
												     src="./img/assets/blog-thumbnail.jpg" width="468" alt="">
											</div>
											
											<figcaption>
												<h3 class="o-lead o-lead--3">Lorem ipsum dolor sit amet, consectetur sit ipsum.</h3>
												<p>Aliquam et sagittis eros. Donec a diam varius, ultricies rhoncus, ornare justo. Aenean tempor erat vitae cursus. Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.</p>
												
												<h6 class="o-lead--6">14.08.2019 przez Hauerpower</h6>
											</figcaption>
										</figure>
									</a>
									
									<a href="#" class="o-cols__item">
										<figure>
											<div class="photo">
												<img srcset="./img/photos/blog/thumbnail.jpg 1x,
												             ./img/photos/blog/thumbnail@2x.jpg 2x"
												     src="./img/assets/blog-thumbnail.jpg" width="468" alt="">
											</div>
											
											<figcaption>
												<h3 class="o-lead o-lead--3">Lorem ipsum dolor sit amet, consectetur sit ipsum.</h3>
												<p>Aliquam et sagittis eros. Donec a diam varius, ultricies rhoncus, ornare justo. Aenean tempor erat vitae cursus. Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.</p>
												
												<h6 class="o-lead--6">14.08.2019 przez Hauerpower</h6>
											</figcaption>
										</figure>
									</a>
									
									<a href="#" class="o-cols__item">
										<figure>
											<div class="photo">
												<img srcset="./img/photos/blog/thumbnail.jpg 1x,
												             ./img/photos/blog/thumbnail@2x.jpg 2x"
												     src="./img/assets/blog-thumbnail.jpg" width="468" alt="">
											</div>
											
											<figcaption>
												<h3 class="o-lead o-lead--3">Lorem ipsum dolor sit amet, consectetur sit ipsum.</h3>
												<p>Aliquam et sagittis eros. Donec a diam varius, ultricies rhoncus, ornare justo. Aenean tempor erat vitae cursus. Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.</p>
												
												<h6 class="o-lead--6">14.08.2019 przez Hauerpower</h6>
											</figcaption>
										</figure>
									</a>
								</div>
