
			<footer class="c-footer">
				<header class="o-header anim anim--up">
					<h2 class="o-lead o-lead--1">Get in touch</h2>
					
					<% include social %>
					
					<% include contactline %>
				</header>
				
				<div class="c-footer__content">
					<h4 class="o-lead o-lead--4 anim anim--up">Colour Print Direct Ltd</h4>
					
					<div class="o-cols o-cols--3 anim anim--delay1 anim--up">
						<div class="o-cols__item">
							<address>
								<p>10a Station Road</p>
								<p>Brighton</p>
								<p>East Sussex</p>
								<p>BN41 1GA</p>
								<p>United Kingdom</p>
							</address>
						</div>
						
						<div class="o-cols__item">
							<nav class="c-footer__nav">
								<ul>
									<li>
										<a href="#">Home</a>
									</li>
									
									<li>
										<a href="#">Print</a>
									</li>
									
									<li>
										<a href="#">The Order Process</a>
									</li>
									
									<li>
										<a href="#">Large format</a>
									</li>
									
									<li>
										<a href="#">Blog</a>
									</li>
									
									<li>
										<a href="#">Copy</a>
									</li>
									
									<li>
										<a href="#">Contact</a>
									</li>
									
									<li>
										<a href="#">Promotion</a>
									</li>
									
									<li class="to-right">
										<a href="#">Finishing</a>
									</li>
								</ul>
							</nav>
						</div>
						
						<div class="o-cols__item">
							<p class="copyrights">All rights reserved © 2019</p>
							<h6 class="o-lead--6">Strona zgodna z RODO</h6>
							<h6 class="o-lead--6">Projektowanie stron <a href="https://www.hauerpower.com/" rel="noopner" target="_blank">hauerpower</a></h6>
						</div>
					</div>
					
					<div class="c-footer__opening anim anim--delay2 anim--up">
						<p>Opening times: Monday to Friday 8:30 - 17:30</p>
					</div>
				</div>
			</footer>
