
			<div class="c-homecarousel">
				<div class="glide" id="homeCarousel">
		            <div class="glide__track" data-glide-el="track">
		
		                <ul class="glide__slides">
		                    <li class="glide__slide" style="background-image: url(<%= require('./img/photos/carousel/peacock-1.jpg') %>)">
		                    
		                        <a href="index.html" class="o-logo">
                				    <img src=<%= require("./img/logo/cpd--onblack.svg") %> width="250" height="145" alt="Colour Print Direct">
                				</a>
                    				
								<article class="c-homecarousel__text">
	                                <h4 class="first">With your imagination and our experience,</h4>
	                                <h4 class="second">we can create your dreams</h4>
	                                <p class="third">
    	                                <img src=<%= require("./img/assets/certyfikaty-free-test-run.svg") %>>
	                                </p>
			                    </article>
		                    </li>
		                    
		                </ul>
		            </div>
				</div>
			</div>
