
									<section class="c-boxes">
										<div class="o-cols o-cols--4">
											<a href="#" class="o-cols__item bg-green">
												<figure>
													<img srcset="./img/assets/roll.png 1x,
													             ./img/assets/roll@2x.png 2x"
													     src="./img/assets/roll.png" width="48" alt="">
												     
													<figcaption>
														<h5 class="o-lead--4">Lorem ipsum dolor sit amet</h5>
													</figcaption>
												</figure>
											</a>
											
											<a href="#" class="o-cols__item bg-blue ">
												<figure>
													<img srcset="./img/assets/roll.png 1x,
													             ./img/assets/roll@2x.png 2x"
													     src="./img/assets/roll.png" width="48" alt="">
												     
													<figcaption>
														<h5 class="o-lead--4">Lorem ipsum dolor sit amet</h5>
													</figcaption>
												</figure>
											</a>
											
											<a class="o-cols__item bg-navy ">
												<figure>
													<img srcset="./img/assets/roll.png 1x,
													             ./img/assets/roll@2x.png 2x"
													     src="./img/assets/roll.png" width="48" alt="">
												     
													<figcaption>
														<h5 class="o-lead--4">Lorem ipsum dolor sit amet</h5>
													</figcaption>
												</figure>
											</a>
											
											<a class="o-cols__item bg-purple ">
												<figure>
													<img srcset="./img/assets/roll.png 1x,
													             ./img/assets/roll@2x.png 2x"
													     src="./img/assets/roll.png" width="48" alt="">
												     
													<figcaption>
														<h5 class="o-lead--4">Lorem ipsum dolor sit amet</h5>
													</figcaption>
												</figure>
											</a>
											
											
											
											<a href="#" class="o-cols__item bg-red">
												<figure>
													<img srcset="./img/assets/roll.png 1x,
													             ./img/assets/roll@2x.png 2x"
													     src="./img/assets/roll.png" width="48" alt="">
												     
													<figcaption>
														<h5 class="o-lead--4">Lorem ipsum dolor sit amet</h5>
													</figcaption>
												</figure>
											</a>
											
											<a href="#" class="o-cols__item bg-orange ">
												<figure>
													<img srcset="./img/assets/roll.png 1x,
													             ./img/assets/roll@2x.png 2x"
													     src="./img/assets/roll.png" width="48" alt="">
												     
													<figcaption>
														<h5 class="o-lead--4">Lorem ipsum dolor sit amet</h5>
													</figcaption>
												</figure>
											</a>
											
											<a class="o-cols__item bg-yellow ">
												<figure>
													<img srcset="./img/assets/roll.png 1x,
													             ./img/assets/roll@2x.png 2x"
													     src="./img/assets/roll.png"width="48"  alt="">
												     
													<figcaption>
														<h5 class="o-lead--4">Lorem ipsum dolor sit amet</h5>
													</figcaption>
												</figure>
											</a>
											
											<a class="o-cols__item bg-green ">
												<figure>
													<img srcset="./img/assets/roll.png 1x,
													             ./img/assets/roll@2x.png 2x"
													     src="./img/assets/roll.png" width="48" alt="">
												     
													<figcaption>
														<h5 class="o-lead--4">Lorem ipsum dolor sit amet</h5>
													</figcaption>
												</figure>
											</a>
										</div>
									</section>
