
	<nav class="c-nav js-nav">
		<ul class="c-nav__menu js-menu">
			<li>
				<a href="index.html">Home</a>
			</li>
			
			<li>
				<a href="#">Our process</a>
			</li>
			
			<li>
				<a href="design.html">Design</a>
			</li>
			
			<li>
				<a href="#">Artwork guide</a>
			</li>
			
			<li>
				<a href="about.html">About us</a>
			</li>
			
			<li>
				<a href="contact.html">Contact us</a>
			</li>
		</ul>
		
		<form class="c-searchform" id="searchform" method="get" action="http://blogname.cutme.pl/" autocomplete="off">
        	<div class="c-searchform__content" id="searchform__content">
                <input type="text" name="s" placeholder="Search for...">
                <button type="submit">
                    <i class="icon-search"></i>
                </button>
            </div>
        </form>
        
        <ul class="c-social" id="social">
	        <li>
	        	<a href="#" class="icon-instagram"></a>
	        </li>
	        
	        <li>
	        	<a href="#" class="icon-facebook"></a>
	        </li>
	        
	        <li>
	        	<a href="#" class="icon-linkedin"></a>
	        </li>
        </ul>
	</nav>
	
	<div class="o-hamburger js-hamburger"><i></i></div>
