
			<section class="c-pages anim anim--up">
				<div class="o-wrap">
					
					<header class="o-header o-header--indent">
						<h2 class="o-lead o-lead--1">Lorem Lipsum</h2>
					</header>
					
					<div class="o-cols o-cols--3">
						<a href="#" class="o-cols__item anim anim--up">
							<figure>
								<img srcset="./img/assets/color-palette.png 1x,
								             ./img/assets/color-palette@2x.png 2x"
								     src="./img/assets/color-palette.png" width="53" alt="">

								<figcaption>
									<h5 class="o-lead o-lead--4">Artwork Specifications <i class="icon-arrow-right"></i></h5>
									
									<p>Aliquam et sagittis eros. Donec a diam varius, ultricies augue rhoncus, ornare justo. Aenean tempor erat vitae cursus volutpat. Phasellus rutrum congue sapien et.</p>
								</figcaption>
							</figure>
						</a>
						
						<a href="#" class="o-cols__item anim anim--delay1 anim--up">
							<figure>
								<img srcset="./img/assets/ruler.png 1x,
								             ./img/assets/ruler@2x.png 2x"
								     src="./img/assets/ruler.png" width="56" alt="">

								<figcaption>
									<h5 class="o-lead o-lead--4">Sizes &amp; Materials Explained <i class="icon-arrow-right"></i></h5>
									
									<p>Aliquam et sagittis eros. Donec a diam varius, ultricies augue rhoncus, ornare justo. Aenean tempor erat vitae cursus volutpat. Phasellus rutrum congue sapien et.</p>
								</figcaption>
							</figure>
						</a>
						
						<a href="#" class="o-cols__item anim anim--delay2 anim--up">
							<figure>
								<img srcset="./img/assets/pencil-case.png 1x,
								             ./img/assets/pencil-case@2x.png 2x"
								     src="./img/assets/pencil-case.png" width="28" alt="">

								<figcaption>
									<h5 class="o-lead o-lead--4">Design Service <i class="icon-arrow-right"></i></h5>
									
									<p>Aliquam et sagittis eros. Donec a diam varius, ultricies augue rhoncus, ornare justo. Aenean tempor erat vitae cursus volutpat. Phasellus rutrum congue sapien et.</p>
								</figcaption>
							</figure>
						</a>
					</div>
					
				</div>
			</section>
