
				<div class="c-process">	

					<header class="c-process__title">
						<h1 class="o-lead--1">The Order Process</h1>
					</header>
					
					<table>
						<tr class="design anim anim--up">
							<td>
								<i class="icon-file"></i>
								<h3 class="o-lead--3">Design Brief</h3>
							</td>
							
							<td>
								<section>
									<p>Initially we would talk to you about your requirements and give you options/ideas on how to achieve this.</p>
								</section>
							</td>
						</tr>
					
						<tr class="quotation anim anim--up">
							<td>								
								<i class="icon-quotation"></i>
								<h3 class="o-lead--3">Quotation</h3>
							</td>
						
							<td>
								<section>
									<p>We will then give you a full quotation including artwork and delivery (if required).</p>
								</section>
							</td>
						</tr>

						<tr class="proof anim anim--up">
							<td>
								<i class="icon-ruler"></i>
								<h3 class="o-lead--3">Proof</h3>
							</td>
							
							<td>
								<section>
									<p>We will email you an initial proof of the various ideas we have created for you.</p>
								</section>
							</td>
						</tr>
						
						<tr class="amendments anim anim--up">
							<td>
								<i class="icon-view"></i>
								<h3 class="o-lead--3">Amendments</h3>
							</td>
							
							<td>
								<section>
									<p>You may reply with changes and alterations and then will resend the proof via email.</p>
								</section>
							</td>
						</tr>
						
						<tr class="approval anim anim--up">
							<td>
								<i class="icon-approve"></i>
								<h3 class="o-lead--3">Approval</h3>
							</td>
							
							<td>
								<section>
									<p>Once you are happy with the design (or if you have supplied artwork, we will check your files for print) 
	and send you „an approval to print” email. Once you have approved this, your order goes to print.</p>
	
									<p>This checking process is probably the most important step, this is last chance you have to make any changes or correct any errors.</p>
								</section>
							</td>
						</tr>
						
						<tr class="print anim anim--up">
							<td>
								<i class="icon-send-to-printer"></i>
								<h3 class="o-lead--3">Print</h3>
							</td>
							
							<td>
								<section>
									<p>We will print the final approved artwork proof, as per your order.</p>
								</section>
							</td>
						</tr>
						
						<tr class="finishing anim anim--up">
							<td>
								<i class="icon-printing"></i>
								<h3 class="o-lead--3">Finishing</h3>
							</td>

							<td>
								<section>
									<p>Once printed your order will then go to the finishing department, where your order is completed.</p>
								</section>
							</td>
						</tr>
						
						<tr class="delivery anim anim--up">
							<td>
								<i class="icon-delivery"></i>
								<h3 class="o-lead--3">Delivery</h3>
							</td>
							
							<td>
								<section>
									<p>Your order can be collected in store or we can arrange a delivery via FedEx at an addition charge.</p>
								</section>
							</td>
						</tr>
					</table>
					
<!--	
					
					
					
					
					
-->
				</div>
