
                <div class="c-grid">
    				<ul>    				
				        <li>
            				<div class="c-grid__item  ">
                				
                                <div class="col col--image b-lazy" data-src="http://wwwcms.ayz.pl/cpd/wp-content/uploads/2019/12/Colour-Copies-300x262.png"></div>
                                                                        
                                                                    
                                <article class="col col--article">
                                    <h5 class="title">Colour Copying</h5>

                                    <p>We offer a colour copying service with a speed of up to 51 pages per minute (ppm).</p>
<p>We have standard sizes such as A4 and A3 but can print on any size up to an SRA3, with single-sided or double-sided as an option.&nbsp;Our standard copier paper is 100gsm Colortech which is at the top end of paper quality, but this is also offer in 160gsm, 250gsm and 350gsm.</p>

                                    <a href="http://wwwcms.ayz.pl/cpd/contact-us/" class="cta">Quote</a>
                                </article>   
            				</div> 
				        </li>

                
				        <li>
            				<div class="c-grid__item  ">
                				
                                <div class="col col--image b-lazy" data-src="http://wwwcms.ayz.pl/cpd/wp-content/uploads/2019/12/shutterstock_236803999-scaled-300x300.jpg"></div>
                                                                        
                                                                    
                                <article class="col col--article">
                                    <h5 class="title">Black &amp; White Copying</h5>

                                    <p>We offer a document copying service for black and white documents, with a speed of up to 80 pages per minute (ppm).&nbsp;We have standard sizes such as A4 and A3 but can print on any size up to an SRA3, with single-sided or double-sided as an option.&nbsp;Our standard copier paper is 100gsm Colortech which is at the top end of paper quality.</p>

                                    <a href="http://wwwcms.ayz.pl/cpd/contact-us/" class="cta">Quote</a>
                                </article>   
            				</div> 
				        </li>

                    					
    				</ul>
                </div>
