
				<nav class="c-sidenav js-sidenav">
    					<ul>
        					
        					<li id="menu-item-97" class="main-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-97"><a href="http://wwwcms.ayz.pl/cpd/" aria-current="page">Home</a></li>
<li id="menu-item-93" class="main-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="http://wwwcms.ayz.pl/cpd/about-us/">About us</a></li>
<li id="menu-item-171" class="main-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-171"><a href="http://wwwcms.ayz.pl/cpd/the-order-process/">The order process</a></li>
<li id="menu-item-95" class="main-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-95"><a href="http://wwwcms.ayz.pl/cpd/design-service/">Design</a></li>
<li id="menu-item-92" class="main-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-92"><a href="http://wwwcms.ayz.pl/cpd/artwork-guide/">Artwork guide</a></li>
        					
        					<li class="static js-submenu">Products:
        					
            					<ul>
                
                                    <li class="copy category js-openMenu">
            							<a href="#">Copy</a>
            						</li>
                
                                    <li class="large-format category js-openMenu">
            							<a href="#">Large format</a>
            						</li>
                
                                    <li class="print category js-openMenu">
            							<a href="#">Print</a>
            						</li>
                
                                    <li class="promotion category js-openMenu">
            							<a href="#">Promotion</a>
            						</li>
                
                                    <li class="finishing category js-openMenu">
            							<a href="#">Finishing</a>
            						</li>
            					</ul>
        					
        					</li>
		
		                    
		                    <li class="js-submenu">
		                        <a href="#">Useful information</a>

<ul class="sub-menu">
	<li id="menu-item-415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-415"><a href="http://wwwcms.ayz.pl/cpd/dosdont/">Dos&amp;Dont</a></li>
	<li id="menu-item-414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-414"><a href="http://wwwcms.ayz.pl/cpd/materials-finishes-gramage/">Materials Finishes &amp; Gramage</a></li>
	<li id="menu-item-450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450"><a href="http://wwwcms.ayz.pl/cpd/vat/">VAT</a></li>
</ul>
</li>
<li id="menu-item-409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-409"><a href="http://wwwcms.ayz.pl/cpd/contact-us/">Contact us</a></li>

    					</ul>
                    </nav>
