
			<aside class="c-sidebar js-sidebar">
				<a href="index.html" class="o-logo">
				    <img src=<%= require("./img/logo/cpd--onblack.svg") %> width="250" height="145" alt="Colour Print Direct">
				</a>
				
				<% include sidenav %>
				
				<div>&nbsp;</div>
				
			</aside>	
