
	<nav class="c-sidemenu" id="sideMenu">
		<div class="c-sidemenu__sections" id="sideMenuSections">
			
			<section class="c-sidemenu__section js-section">
			
			    <div class="c-sidemenu__content">
    				<h2 class="o-lead--0 js-closeNav">Print</h2>
				
                    <% include sidemenu__grid %>
                </div>
			</section>

			<section class="c-sidemenu__section js-section">
    			<div class="c-sidemenu__content">
    				<h2 class="o-lead--0 js-closeNav">Large format</h2>
    				
                    <% include sidemenu__grid %>
                </div>
			</section>
			
			<section class="c-sidemenu__section js-section">
			    <div class="c-sidemenu__content">
    				<h2 class="o-lead--0 js-closeNav">Copy</h2>
    				
                    <% include sidemenu__grid %>
                </div>
			</section>

			<section class="c-sidemenu__section js-section">
			    <div class="c-sidemenu__content">
    				<h2 class="o-lead--0 js-closeNav">Promotion</h2>
    				
                    <% include sidemenu__grid %>
                </div>
			</section>

			<section class="c-sidemenu__section js-section">
			    <div class="c-sidemenu__content">
    				<h2 class="o-lead--0 js-closeNav">Finishing</h2>
    				
                    <% include sidemenu__grid %>
                </div>
			</section>
		</div>		
	</nav>
