
			<aside class="c-sidebar js-sidebar">
				<a href="index.html" class="o-logo">
					<span class="on-black">
						<img src=<%= require("./img/logo/cpd--onblack.svg") %> width="250" height="145" alt="Colour Print Direct">
					</span>
					
					<span class="on-white">
						<img src=<%= require("./img/logo/cpd--onwhite.svg") %> width="250" height="145" alt="Colour Print Direct">
					</span>
					
					<span class="negative">
						<img src=<%= require("./img/logo/cpd--negative.svg") %> width="250" height="145" alt="Colour Print Direct">
					</span>
				</a>
				
				<% include sidenav %>
				
				<div>&nbsp;</div>
				
			</aside>	
