
				<nav class="c-sidenav" id="sideNav">
					<ul>
						<li class="print js-openMenu">
							<a href="#">Print</a>
						</li>
						
						<li class="large-format js-openMenu">
							<a href="#">Large format</a>
						</li>
						
						<li class="copy js-openMenu">
							<a href="#">Copy</a>
						</li>
						
						<li class="promotion js-openMenu">
							<a href="#">Promotion</a>
						</li>
						
						<li class="finishing js-openMenu">
							<a href="#">Finishing</a>
						</li>
					</ul>
				</nav>
