
                <ul class="o-social">
    				<li class="social">
						<a href="#"><i class="icon-facebook"></i></a>
					</li>
					
					<li class="social">
						<a href="#"><i class="icon-instagram"></i></a>
					</li>
					
					<li class="social">
						<a href="#"><i class="icon-linkedin"></i></a>
					</li>
                </ul>
