
		<section class="c-welcome" id="welcome">
			<div class="o-container__left js-leftColumn">
				<% include sidebar %>
			</div>
		
			<div class="o-container__right js-rightColumn">
				<% include homecarousel %>
				<% include contactline %>
			</div>
		</section>
