.o-container {
	@extend %flex;
	@extend %flex-wrap;
	overflow: hidden;

	&__left {
		transition: background-color 500ms ease-out;
		position: absolute;
		width: grid(370);
		height: 100%;
		padding: 50px 0;
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;
    	overflow: auto;
	    -webkit-overflow-scrolling: touch;

	    &:not(.is-negative) {
		    box-shadow: inset -1px 0 0 0 rgba($c-gray-01, .22);
	    }
	    
	    @media ( min-width: $base + 1px ) {
	    	width: 370px;
	    	padding: 50px 60px;
	    }
	
	    @media ( min-width: $desktop + 1px ) and ( max-width: $base + px) {
		    padding: {
			    left: grid(60);
			    right: grid(60);
		    }
		}
	    
	    @media ( max-width: $desktop + px ) {
		    width: 246px;
		    flex-shrink: 0;
		    padding:  {
			    left: 40px;
			    right: 40px;
		    }
		}
		
		@media ( max-width: $tablet_portrait + px ) {
			width: 146px;
			padding: {
				left: 15px;
				right: 15px;
			}
		}

		@media ( max-width: $smartphone_portrait + px ) {
			transition: all 500ms ease-out;
			transform: translate3d(-100%, 0, 0);
		}
		
		&.move-right {
			transform: translate3d(0, 0, 0);
		}
		
		&--floating {
			position: fixed;
		}
		
		&.is-negative {
			.c-sidenav {
				a {
					color: black;
				}
				
				li {
					&:before {
						color: black;
					}
				}
			}
		}
	}
	
	&__right {
		@extend %anim;
		@extend %rel;
		@include z-index(homecarousel);
		
		width: 1550px;
		height: 100%;
		
		&:after {
			@extend %abs;
			@extend %abs-after;
			z-index: -1;
			left: -50px; top: 0;
			width: calc(100% + 50px); height: 100%;
			background-color: rgba(black, .9);
			opacity: 0;
			transition: all 500ms ease-out;
		}
		
		@media ( min-width: $base + 1px ) {
			margin-left: 370px;
	    }

	    @media ( min-width: $desktop + 1px ) and ( max-width: $base + px ) {
		    width: grid(1550);
		    margin-left: grid(370);
	    }
	
	    @media ( max-width: $desktop + px ) {
		    width: calc(100% - 246px);
		    margin-left: 246px;
	    }
	    
	    @media ( max-width: $tablet_portrait + px ) {
		    width: calc(100% - 146px);
		    margin-left: 146px;
	    }
	    
	    @media ( max-width: $smartphone_portrait + px ) {
		    width: calc(100% - 50px);
		    margin-left: 50px;
			transition: all 500ms ease-out;
		}
		
		
		
		&.move-right {
			transform: translate3d(146px, 0, 0);
			
			&:after {
				z-index: 10;
				opacity: 1;
			}
		}
	}
	
	&--paddings {
		padding: { 
			left: 120px;		
			right: 120px;
		}
		
		@media ( min-width: $tablet + 1px ) and ( max-width: $base + px ) {
			padding: { 
				left: base(120);		
				right: base(120);
			}
		}
	
		@media ( max-width: $tablet + px ) {
			padding: 60px;
		}
	}
	
	.bg-black {
		.o-article, h1 {
			color: white;
		}
	}
	
	.bg-white {
		background-color: white;
			    
	    .o-lead {
		    &--1 {
			    color: black;
		    }
		}
	}
}

