.o-lead {
	@extend %anim;
	color: black;
	
	&--0 {
		line-height: 1.7em;
		font: {
			size: rem(70);
			weight: $black;
		}
		
		@media ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + px ) {
			font-size: base(70);
		}
		
		@media ( max-width: $tablet_portrait + px ) {
			font-size: tablet_portrait(48);
		}
	}

	&--1 {
		@extend %lead--1;
	}
	
	&--3 {
		@extend %lead--3;
	}
	
	&--4 {
		line-height: 1.4em;
		font: {
			size: rem(22);
			weight: $bold;
		}
		
		@media ( min-width: $desktop + 1px ) and ( max-width: $base + px ) {
			font-size: base(22);
		}
		
		@media ( max-width: $desktop + px ) {
			font-size: rem(18);
		}
	}
	
	&--6 {
		font-size: rem(14);
	}
}
