.o-lead {
	@extend %anim;
	color: black;

	&--1 {
		text-transform: uppercase;
		line-height: 1.5em;
		font: {
			size: rem(48);
			weight: $black;
		}
		
		@media ( min-width: $desktop + 1px ) and ( max-width: $base + px ) {
			size: base(48);
		}
		
		@media ( max-width: $desktop + px ) {
			//font-size: rem(14);
		}
	}
	
	&--3 {
		line-height: 1.4em;
		text-transform: uppercase;
		font: {
			size: rem(26);
			weight: $extrabold;
		}
		
		@media ( min-width: $desktop + 1px ) and ( max-width: $base + px ) {
			font-size: base(26);
		}
		
		@media ( max-width: $desktop + px ) {
			font-size: rem(22);
		}
	}
	
	&--4 {
		line-height: 1.4em;
		font: {
			size: rem(22);
			weight: $bold;
		}
		
		@media ( min-width: $desktop + 1px ) and ( max-width: $base + px ) {
			font-size: base(22);
		}
		
		@media ( max-width: $desktop + px ) {
			font-size: rem(18);
		}
	}
	
	&--6 {
		font-size: rem(14);
	}
}
