.o-social {
	@extend %flex;
	//@extend %flex-x;

	li {
		padding: 0 10px;
		
		&:first-child {
    		padding-left: 0;
		}
	}
	
	a {
		
		font-size: rem(24);
		
		&:hover {
    		.desktop & {
        		color: $c-primary;
    		}
		}
		
/*
		opacity: .65;
		
		&:hover {
			opacity: 1;
		}
*/
	}
}