.c-footer {
	min-height: 100vh;
	background-color: black;
	overflow: hidden;
	color: white;
	
	a {
		&:hover {
			.desktop & {
				color: $c-primary;
			}
		}
	}

	address {
		opacity: .6;
	}

	&__content {
		padding: 80px 0;
		
		@media ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + px ) {
			padding: base(80) 0;
		}
		
		@media ( max-width: $tablet_portrait + px ) {
			padding: 30px 0;
		}
	}
	
	&__nav {
		ul {
			@extend %flex;
			@extend %flex-wrap;
		}

		li {
			width: 50%;
			margin-bottom: 1em;
			
			@media ( max-width: $tablet + px ) {
				margin-bottom: .5em;
			}
			
			&:last-child {
				margin: 0 0 0 auto;
			}
			
			&:nth-of-type(odd) {
                &:not(:last-child) {
                    padding-right: 10px;
                }
			}
		}
		
		a {
			font-size: rem(20);
			
			@media ( max-width: $desktop + px ) {
				font-size: rem(18);
			}
			
			@media ( max-width: $tablet + px ) {
				font-size: rem(16);
			}
		}
	}
	
	&__opening {
		padding-left: 80px;
		
		@media ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + px ) {
			padding-left: base(80);
		}
		
		@media ( max-width: $tablet + px ) {
			padding-top: 25px;
		}
	
		@media ( max-width: $tablet_portrait + px ) {
			padding-left: 30px;
		}	
	}
	
	.o-cols {
		
		@media ( max-width: $tablet + px ) {
			width: 100%;
			margin: 0;
		}
		
		@media ( max-width: $smartphone + px ) {
			display: block;
		    width: 100%;
			margin: 0;
		}

		&__item {
			
			@media ( max-width: $tablet + px ) {
				width: 50%;
				margin: 0;
			}
			
			@media ( max-width: $smartphone + px ) {
		    	width: 100%;
		    	margin: {
			    	left: 0;
			    	right: 0;
		    	}
		    }
		    
			&:first-of-type {
				padding-left: 80px;

				@media ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + px ) {
					padding-left: base(80);
				}
			
				@media ( max-width: $tablet_portrait + px ) {
					padding-left: 30px;
				}	
			}
			
			&:nth-of-type(2) {
				@media ( max-width: $smartphone + px ) {
					padding-left: 30px;
				}
			}
			
			&:last-of-type {
				@media ( max-width: $tablet + px ) {
					width: 100%;
					padding-left: base(80);
				}
				
				@media ( max-width: $tablet_portrait + px ) {
					padding-left: 30px;
				}
			}
			
			&:nth-of-type(1),
			&:nth-of-type(2) {
				@media ( max-width: $smartphone + px ) {
					padding-bottom: 30px;
				}
			}
		}
		
		@media ( max-width: $tablet + px ) {
			flex-wrap: wrap;
		}
	}
	
	.o-contactline {

		@media ( max-width: $tablet + 100px ) {
    		width: 100%;
    	}

		@media ( max-width: $tablet + 100px ) {
			flex-direction: column;
			text-align: right;
		}
    	
    	@media ( max-width: $tablet_portrait + px ) {
    	    flex-direction: row-reverse !important;
    	}
    	
    	@media ( max-width: $smartphone_portrait + px ) {
    		width: auto;
    	}
	}

	.o-header {
		@extend %flex;
		@extend %flex-spacebetween;
		@extend %flex-y;
		margin: 0 80px;
		border-bottom: 1px solid rgba(white, .15);
		
		@media ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + px ) {
			margin: 0 base(80);
		}
		
		@media ( max-width: $tablet + 100px ) {
			flex-wrap: wrap;
		}
		
		@media ( max-width: $tablet + px ) {
			padding: {
				top: 30px;
				bottom: 30px;
			}
		}
		
		@media ( max-width: $tablet_portrait + px ) {
			margin: 0 30px;
		}
		
		@media ( max-width: $smartphone_portrait + px ) {
			justify-content: flex-start;
		}
		
		.o-lead {
    		@media ( max-width: $smartphone_portrait + px ) {
    			width: 100%;
    			margin-bottom: .5em;
    		}
		}
	}
	
	.o-lead {
		color: white;
		
		&--4 {
			margin-bottom: 2em;
			padding-left: 80px;
			
			@media ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + px ) {
				padding-left: base(80);
			}
			
			@media ( max-width: $tablet_portrait + px ) {
				padding-left: 30px;
			}
		}
		
		&--6 {
			margin-bottom: 1em;
			opacity: .4;
			
			@media ( max-width: $tablet + px ) {
				margin-bottom: .5em;
			}
			
			a {
        		font-weight: $bold;
    		}
		}
	}
	
	.o-social {
        @media ( min-width: $smartphone_portrait + px ) {
        	margin: 0 0 0 auto;
    	}
    	
    	@media ( max-width: $tablet + 100px ) {
    		justify-content: flex-end;
    	}
    }
	
	.copyrights {
		margin-bottom: 2em;
	}
}
