.c-homecarousel {
	height: 100%;

	.glide {
		height: 100%;
		
		&__slide {
			@extend %flex;
			@extend %flex-column;
//		    @extend %flex-x;
	        justify-content: space-around;
			background: {
				size: cover;
				position: right top;
			}
			
/*
			@media ( max-width: $tablet + px ) {
				background: {
					position: 0 top;
				}
			}
*/
			
			@media ( max-width: $smartphone + px ) {
				background: {
					position: center top;
				}
			}
		}
	}
    
    &__text {
	    max-width: 640px;
	    margin-left: 220px;
	    
	    @media (max-width: $base + px) {
            margin-left: grid(220);
        }
	    
	    @media ( max-width: $tablet + px ) {
    	    margin-left: 30px;
	    }
	    
	    @media ( max-width: $tablet_portrait + px ) {
		    width: tablet_portrait(440);
	    }
	    
	    color: white;
	    
	    .first, .second {
		    text-transform: uppercase;
		    
		    .glide & {
                opacity: 0;
                transform: translate3d(-50px, 0, 0);
            }
	    }
	    
	    .first {
		    line-height: 1.0em;
		    font: {
			    size: rem(70);
			    weight: $black;
			}
			
			@media ( min-width: $tablet + 1px ) and ( max-width: $base + px ) {
				font-size: base(70);
			}
			
			@media ( max-width: $tablet + px ) {
				font-size: tablet(30);	
			}
			
			@media ( max-width: $smartphone + px ) {
				font-size: rem(22);
			}
	    }

	    .second {
		    margin-bottom: 1em;
		    line-height: 1.25em;
		    font: {
			    size: rem(43);
			    weight: $semibold;
			}
			
			@media ( min-width: $tablet + 1px ) and ( max-width: $base + px ) {
				font-size: base(43);
			}
			
/*
			@media ( max-width: $tablet + px ) {
				font-size: rem(22);	
			}
*/
			
			@media ( max-width: $tablet + px ) {
				font-size: tablet(18);	
			}
			
			@media ( max-width: $smartphone + px ) {
				font-size: rem(16);
			}
	    }
	    
	    .third {
    	    max-width: 200px;
/*
		    line-height: 2.35em;
			font-weight: $bold;
			
			@media ( min-width: $tablet + 1px ) and ( max-width: $base + px ) {
				font-size: base(20);
			}
			
			@media ( max-width: $tablet + px ) {
				font-size: rem(12);	
			}
			
			@media ( max-width: $tablet + px ) {
				font-size: tablet(12);	
			}
			
			@media ( max-width: $smartphone + px ) {
				font-size: rem(10);
			}
*/
			
			.glide & {
                opacity: 0;
                transform: translate3d(0, 50px, 0);
            }
	    }
    }
    
    .o-logo {
        margin-left: 220px;
        opacity: 0;
        transform: translate3d(0, -50px, 0);
        
        @media ( min-width: $tablet + 1px ) and ( max-width: $base + px ) {
			//width: base(250);
		}

		@media ( max-width: $tablet + px ) {
			width: tablet(250);	
		}
		
		@media ( max-width: $smartphone + px ) {
			width: 200px;
		}
		
		@media ( max-width: $smartphone_portrait + px ) {
			width: 150px;
		}
	    
	    @media (max-width: $base + px) {
            margin-left: grid(220);
        }
	    
	    @media ( max-width: $tablet + px ) {
    	    margin-left: 30px;
	    }
    }
}
