@keyframes pulse {
    0%   {
        background: white;
    }

    50% {
        background: #C7C7C7;
    }
    
    100% {
        background: white;
    }
}

.c-map {
    @extend %rel;
    height: 400px;
    animation: pulse 1s infinite;
    
    @media ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + px ) {
        height: base(400);
	}

	@media ( max-width: $tablet_portrait + px ) {
		height: 300px;
	}	
}
