.c-pages {

	img {
		margin-bottom: 40px;
		
		@media ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + px ) {
			margin-bottom: base(40);
		}
		
		@media ( max-width: $tablet_portrait + px ) {
			margin-bottom: 20px;
			max-width: 15%;
		}
	}
	
	.icon-arrow-right {
		margin-left: 8px;
		font-size: rem(14);
		
		&:before {
			@extend %anim;
			display: inline-block;
		}
	}
	
	.o-cols {
		.o-lead {
			&--4 {
				margin-bottom: 1em;
				white-space: nowrap;
			}
		}
		
		&__item {
			margin-bottom: 80px;

			&:hover {
				.desktop & {
					color: $c-red;
					
					.o-lead {
						color: $c-red;
					}
	
					.icon-arrow-right {
						&:before {
							transform: translate3d(5px, 0, 0);
						}
					}
				}
			}
		}
	}
}
