.c-searchform {
	@extend %rel;
	width: 360px;
	margin: 0 auto 35px auto;
	
	@media ( max-width: $smartphone_portrait + px ) {
		width: 80%;
		margin: 0 auto 15px auto;
	}
    
	
	input[type=text] {
		background-color: $c-primary;
		border-bottom: 1px solid rgba(white, .3);
		padding: 0;
		font-size: rem(21);
		font-weight: $bold;
		color: white;
		
		@media ( max-width: $smartphone + px ) {
			font-size: rem(16);	
		}
	}
	
	button[type=submit] {
		@extend %abs;
		@extend %anim;
		right: 0; bottom: 0;
		width: 28px; height: 34px;
		background-color: $c-primary;
		font-size: rem(26);
		color: rgba(white, .6);
		
		
		
		&:hover {
			.desktop & {
				opacity: 1;
				color: white;
			}
		}
	}
	
	::-webkit-input-placeholder { font-weight: $bold; color: rgba(white, .48); }
	:-moz-placeholder { font-weight: $bold; color: rgba(white, .48); }
	::-moz-placeholder { font-weight: $bold; color: rgba(white, .48); }
	:-ms-input-placeholder { font-weight: $bold; color: rgba(white, .48); }
}