.c-sidenav {

    li {
        @extend %rel;
        cursor: pointer;

		@media ( max-width: $tablet + px ) {
//            line-height: 1.2em;
            margin-bottom: 5px;
		}
		
		@media ( max-width: $tablet_portrait + px ) {
			//margin-bottom: 0;
		}
	
		&.item-active {
			a {
				color: white !important;				
			}
			
			&:before {
				color: white !important;
			}
		}
		
        font: {
			size: rem(20);
			weight: $bold;
		}
		color: white;
		
		&.category {
    		padding-left: 20px;
    		
    		
    		@media (max-width: 768px) {
                padding-left: 10px;
            }
		}
		
		ul {
    		display: none;
    		
    		li {
        		padding-left: 20px;
    		
        		@media (max-width: 768px) {
                    padding-left: 10px;
                }
    		}
		}
		
		a {
    		line-height: 1.2em;

    		@media ( max-width: $desktop + px ) {
    			line-height: 1em;
    		}
		}
		
		&.is-active {
            ul {
                display: block;
            }
		}
    }
    
	.copy {
		color: $c-red;
		
		&:hover {
			a {
				color: $c-red;
			}
		}
	}
	
	.finishing {
		color: $c-green;

		&:hover {
			a {
				color: $c-green;
			}
		}
	}
	
	.large-format {
		color: $c-orange;

		&:hover {
			a {
				color: $c-orange;
			}
		}
	}
	
	.print {
		color: $c-yellow;

		&:hover {
			a {
				color: $c-yellow;
			}
		}
	}
	
	.promotion {
		color: $c-blue;
		/*

		&:before {
			color: $c-blue;
			content: "\e910";
		}
		
*/
		&:hover {
			a {
				color: $c-blue;
			}
		}
	}
	
	.menu-item-type-post_type {
    	a {
        	&:hover {
            	.desktop & {
                	opacity: .7;
                }
        	}
    	}
	}
	
	.static {
    	@media ( max-width: $tablet + px ) {
        	margin-top: 5px;
			font-size: rem(16);
		}

		@media (max-width: 768px) {
            font-size: .8125rem;
        }
	}
	
	a {
    	display: inline-block;
		color: white;
		
		.o-container__left--floating & {
    		@media ( min-width: $smartphone_portrait + 1px ) {
	    		color: black;
    		}
		}
		
		@media ( min-width: $tablet + 1px ) and ( max-width: $base + px ) {
			//font-size: base(20);
		}
		
		@media ( max-width: $tablet + px ) {
			font-size: rem(16);
		}
		
		@media (max-width: 768px) {
            font-size: .8125rem;
        }
	}
}