.c-sidebar {
	@extend %rel;
	
	.o-logo {
		margin-bottom: 40px;
		
		.negative {
			display: none;
		}		
		
		.on-black {
			display: none;

			.c-welcome & {
				display: block;
			}
		}
		
		.on-white {
			.c-welcome & {
				display: none;
			}
		}
	}
	
	.is-negative & {
		.o-logo {
			.normal,
			.on-black,
			.on-white {
				display: none;
			}
			.negative {
				display: block;
			}
		}
		
		.c-sidenav {
			a {
				color: black;
			}
			
			li {
				&:before {
					color: black;
				}
			}
		}
	}
}
