.c-welcome {
	@extend %flex;
	@extend %rel;
	@include z-index(welcome);
	width: 100%;
	min-height: 100vh;
	background-color: black;
	
	.o-contactline {
		@extend %abs;
		right: 60px; bottom: 20px;
	}
	
	.o-container {
		&__right {
			@media ( min-width: $base + 1px ) {
				flex: 1;
		    }
		    
		    &.is-white {
		    	background-color: white;
		    }
		}
	}
	
	.c-sidenav {
		a {
			color: white;
		}
	}
}
