.c-welcome {
	@extend %flex;
	@extend %rel;
	@include z-index(welcome);
	width: 100%;
	min-height: 100vh;
	//background-color: black;
	
	.o-contactline {
		@extend %abs;
		right: 60px; top: 20px;
		
		@media ( min-width: $tablet_portrait + 1px ) and ( max-width: $base + px ) {
			right: base(60);
			top: base(20);
		}
		
		@media ( max-width: $tablet_portrait + px ) {
			right: 10px; top: 10px;
		}
	}
	
	.o-container {
		&__right {
    		min-width: 0;

			@media ( min-width: $base + 1px ) {
				flex: 1;
		    }
		    
		    &.is-white {
		    	background-color: white;
		    }
		}
	}
	
	.c-sidenav {
		a {
			color: white;
		}
	}
}
