<% include ./src/includes/head %>
<body>

	<main class="o-container">
		
		<section class="c-welcome" id="welcome">
			<div class="o-container__left js-leftColumn">
				<% include ./src/includes/sidebar %>
			</div>
		
			<div class="o-container__right bg-white">

				<div class="c-post c-post--page">
					<article class="o-article">
						
						<h1>Artwork Colour Guide</h1>

<img src=<%= require("./img/photos/post/pantone.jpg") %> alt="pantone" width="537" height="752" class="alignright">
		
<p>Digital and Litho printing presses print onto white paper using CMYK. 
CMYK colours are made up from Cyan, Magenta, Yellow and BlacK 
(interesting fact: B is not used for Black, as B represents Blue in RGB: Red, Green, Blue. These are screen colours so for example you will see this used in web design as you view this on a screen).</p>

<p>In order to get the best results, artwork files should be created in CMYK colours during the design process. Converting artwork into CMYK once the design has been created may result in subtle colour changes.</p>

<p>Aside from CMYK the other option is Litho printing in PMS (Pantone Matching System) Colours.
These are specific colour which are premixed and are globally recognised so whether you have it printed in the UK or as far as Australia the colour will be exactly the same. This is especially good if you have a brand which you want to be recognised for instance the colour red in coca-cola.</p>


					</article>
				</div>

			</div>
			</div>
		</section>


		<div class="o-container__left o-container__left--floating js-leftColumn">
			<% include ./src/includes/sidebar %>
		</div>
		
		<div class="o-container__right">

			<% include ./src/includes/footer %>
		</div>
		
		
	</main>
	
	<% include ./src/includes/sidemenu %>
	<% include ./src/includes/nav %>

</body>
</html>

