<% include ./src/includes/head %>
<body>

	<main class="o-container">
		
		<section class="c-welcome" id="welcome">
			<div class="o-container__left js-leftColumn">
				<% include ./src/includes/sidebar %>
			</div>
		
			<div class="o-container__right js-rightColumn bg-white">

				<div class="c-post c-post--standard">
					<article class="o-article">						
							
						<img src=<%= require("./img/photos/post/colour-copies.jpg") %> alt="" width="675" height="644" class="alignright">
						
						<h1>Colour Copying</h1>
							
						<p>We offer a colour copying service with a speed of up to 51 pages per minute (ppm). 
We have standard sizes such as A4 and A3 but can print on any size up to an SRA3, with single-sided or double-sided as an option.
Our standard copier paper is 100gsm Colortech which is at the top end of paper quality, but this is also offer in 160gsm, 250gsm and 350gsm.
</p>
																		
						<table>					
							<tr>
								<td>
									<p>Aliquam et sagittis eros. Donec a diam varius, ultricies
rhoncus, ornare justo. Aenean tempor erat vitae cursus.
Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultriciesrhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultricies rhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.</p>
								</td>
								
								<td>
									<p>Aliquam et sagittis eros. Donec a diam varius, ultricies
rhoncus, ornare justo. Aenean tempor erat vitae cursus.
Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultriciesrhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultricies rhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.</p>
								</td>
							</tr>
						</table>
						
						
						
					</article>
				</div>

			</div>
		</section>


		<div class="o-container__left o-container__left--floating js-leftColumn">
			<% include ./src/includes/sidebar %>
		</div>
		
		<div class="o-container__right js-rightColumn">

			<% include ./src/includes/footer %>
		</div>
		
		
	</main>
	
	<% include ./src/includes/sidemenu %>
	<% include ./src/includes/nav %>

</body>
</html>

