<% include ./src/includes/head %>
<body>

	<main class="o-container bg-black">

		<% include ./src/includes/welcome %>
		
	</main>
	
	<% include ./src/includes/footer %>
	<% include ./src/includes/sidebar %>
	<% include ./src/includes/sidemenu %>
	<% include ./src/includes/nav %>

</body>
</html>

