<% include ./src/includes/head %>
<body>

	<main class="o-container">
		
		<% include ./src/includes/welcome %>

		<div class="o-container__left o-container__left--floating js-leftColumn">
			<% include ./src/includes/sidebar %>
		</div>
		
		<div class="o-container__right">
			<% include ./src/includes/improve %>
			<% include ./src/includes/pages %>
			<% include ./src/includes/references %>
			<% include ./src/includes/blog %>
			<% include ./src/includes/footer %>
		</div>
		
		
	</main>
	
	<div class="c-sidemenu" id="sideMenu"></div>

	<% include ./src/includes/nav %>

</body>
</html>

