<% include ./src/includes/head %>
<body>

	<main class="o-container">
		
		<section class="c-welcome" id="welcome">
			<div class="o-container__left js-leftColumn">
				<% include ./src/includes/sidebar %>
			</div>
		
			<div class="o-container__right js-rightColumn is-white">
				<% include ./src/includes/process %>
			</div>
		</section>

		<div class="o-container__left o-container__left--floating js-leftColumn">
			<% include ./src/includes/sidebar %>
		</div>
		
		<div class="o-container__right js-rightColumn">
			<% include ./src/includes/pages %>
			<% include ./src/includes/references %>
			<% include ./src/includes/blog %>
			<% include ./src/includes/footer %>
		</div>
	</main>

	<% include ./src/includes/sidemenu %>
	<% include ./src/includes/nav %>

</body>
</html>

