<% include ./src/includes/head %>
<body>

	<main class="o-container">
		
		<section class="c-welcome" id="welcome">
			<div class="o-container__left js-leftColumn">
				<% include ./src/includes/sidebar %>
			</div>
		
			<div class="o-container__right js-rightColumn bg-white">

				<div class="c-post c-post--page">
					<article class="o-article">
						
						<h1>Supplied-artwork</h1>
						
						<table>
							<tr>
								<td>
									<p>If you want to create your own artwork is fairly straight forward, there are a few things that you need to get right to ensure the finished product looks perfect. </p>

									<p>These are; Size, Colour, Resolution and Bleed. We have created a guide for each of these that explains exactly how to prepare your artwork to ensure that when you send to us, it’s ready for print. But don’t worry if you are not sure once you have finished, email the file to us and we will double check for you free of charge and let you know if there is anything wrong with the structure of the file.</p>
									
								</td>
								
								<td>
									<p>Supplied Artwork Requirements:</p>

									<ul>
										<li>Format: 		Print Ready PDF</li>
										<li>Colour: 		CMYK or PMS (Pantone Matching System)</li>
										<li>Bleed: 		3mm</li>
										<li>Crop marks:	supplied with crop marks</li>
										<li>Safe Zone: 		3mm</li>
										<li>Resolution: 	350dpi</li>
										<li>Fonts: 		Outlined or Embedded</li>
									</ul>

								</td>
							</tr>
							
							<tr>
								<td>
									
									<ol>
										<li>												 
											<a href="standard-document-sizes.html">
												<img src=<%= require("./img/assets/standard-document-sizes.png") %> 
												     alt="standard-document-sizes" width="57" height="58">
												 
												 Standard Document Sizes</a>
										</li>
										
										<li>
											<a href="artwork-colour-guide.html">
												<img src=<%= require("./img/assets/artwork-colour-guide.png") %> 
													 alt="artwork-colour-guide" width="53" height="58">
												
												Artwork Colour Guide</a>
										</li>
										
										<li>
											<a href="artwork-resolution-guide.html">
												<img src=<%= require("./img/assets/artwork-resolution-guide.png") %> 
												alt="artwork-resolution-guide" width="52" height="52">
												
												Artwork Resolution Guide</a>
										</li>
										
										<li>
											<a href="artwork-bleed-guide.html">
												<img src=<%= require("./img/assets/artwork-bleed-guide.png") %> 
													 alt="artwork-bleed-guide" width="53" height="45">
												
												Artwork Bleed Guide</a>
										</li>
									</ol>
									
								</td>
								
								<td>&nbsp;</td>
							</tr>
						</table>
						
						
					</article>
				</div>

			</div>
		</section>


		<div class="o-container__left o-container__left--floating js-leftColumn">
			<% include ./src/includes/sidebar %>
		</div>
		
		<div class="o-container__right js-rightColumn">

			<% include ./src/includes/footer %>
		</div>
		
		
	</main>
	
	<% include ./src/includes/sidemenu %>
	<% include ./src/includes/nav %>

</body>
</html>

