<% include ./src/includes/head %>
<body>

	<main class="o-container">
		
		<section class="c-welcome" id="welcome">
			<div class="o-container__left js-leftColumn">
				<% include ./src/includes/sidebar %>
			</div>
		
			<div class="o-container__right bg-white">

				<div class="c-post c-post--standard">
					<article class="o-article">						
						
<img src=<%= require("./img/photos/post/vinyl-graphics.jpg") %> alt="" width="680" height="648" class="alignright">
							<h1>Vinyl Graphics</h1>
							
									
									
									
									<p>A cut vinyl, is a vinyl sticker that is affixed to a wall or other smooth surface such as glass for decoration and informational purposes. Wall decals are cut with a vinyl cutting machine. These can be in full colour or a single colour. These can be used internally or externally.</p>
									
									
									
						<table>
<!--
							<tr>
								<td>
									<h1>Vinyl Graphics</h1>
									
									<p>A cut vinyl, is a vinyl sticker that is affixed to a wall or other smooth surface such as glass for decoration and informational purposes. Wall decals are cut with a vinyl cutting machine. These can be in full colour or a single colour. These can be used internally or externally.</p>
									
									<img src=<%= require("./img/photos/post/vinyl-graphics.jpg") %> alt="" width="680" height="648" class="alignright">
								</td>

								<td>
									<img src=<%= require("./img/photos/post/vinyl-graphics.jpg") %> alt="" width="680" height="648" class="alignright">
								</td>
							</tr>
-->
							
							<tr>
								<td>
									<p>Aliquam et sagittis eros. Donec a diam varius, ultricies
rhoncus, ornare justo. Aenean tempor erat vitae cursus.
Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultriciesrhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultricies rhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.</p>
								</td>
								
								<td>
									<p>Aliquam et sagittis eros. Donec a diam varius, ultricies
rhoncus, ornare justo. Aenean tempor erat vitae cursus.
Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultriciesrhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultricies rhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.</p>
								</td>
							</tr>
						</table>
						
						
						
					</article>
				</div>

			</div>
		</section>


		<div class="o-container__left o-container__left--floating js-leftColumn">
			<% include ./src/includes/sidebar %>
		</div>
		
		<div class="o-container__right">

			<% include ./src/includes/footer %>
		</div>
		
		
	</main>
	
	<% include ./src/includes/sidemenu %>
	<% include ./src/includes/nav %>

</body>
</html>

