<% include ./src/includes/head %>
<body>

	<main class="o-container">
		
		<section class="c-welcome" id="welcome">
			<div class="o-container__left js-leftColumn">
				<% include ./src/includes/sidebar %>
			</div>
		
			<div class="o-container__right js-rightColumn bg-black">

				<div class="c-post c-post--standard">
					<article class="o-article">						

						<img src=<%= require("./img/photos/post/voucher.jpg") %> alt="" width="635" height="599" class="alignright">
						
						<h1>Vouchers</h1>
							
						<p>Available in various sizes<br>
printed full colour<br>
Single or double-sided<br>
on a variety of stocks</p>
									
									
						<table>							
							<tr>
								<td>
									<p>Aliquam et sagittis eros. Donec a diam varius, ultricies
rhoncus, ornare justo. Aenean tempor erat vitae cursus.
Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultriciesrhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultricies rhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.</p>
								</td>
								
								<td>
									<p>Aliquam et sagittis eros. Donec a diam varius, ultricies
rhoncus, ornare justo. Aenean tempor erat vitae cursus.
Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultriciesrhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.Aliquam et sagittis eros. Donec a diam varius, ultricies rhoncus, ornare justo. Aenean tempor erat vitae cursus.Phasellus rutrum congue sapien et varius. Praesent et etiam vel euismod nisi. Sed at lorem vestibulum.</p>
								</td>
							</tr>
						</table>
						
						
						
					</article>
				</div>

			</div>
		</section>


		<div class="o-container__left o-container__left--floating js-leftColumn">
			<% include ./src/includes/sidebar %>
		</div>
		
		<div class="o-container__right js-rightColumn">

			<% include ./src/includes/footer %>
		</div>
		
		
	</main>
	
	<% include ./src/includes/sidemenu %>
	<% include ./src/includes/nav %>

</body>
</html>

